Source: fleece
Section: python
Priority: optional
Maintainer: Aurelien ROUGEMONT <beorn@gandi.net>
Build-Depends: debhelper (>= 8), python (>= 2.6)
Build-Depends-Indep: python-setuptools
Standards-Version: 3.9.1
X-Python-Version: >= 2.6

Package: fleece
Architecture: all
Depends: python (>= 2.6),
Description: Simple udp jsonifier from stdin.
 Simple udp jsonifier from stdin. Meant for piping apache logs.
